* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: BenzinBold;
    src: url('../assets/fonts/Benzin-Bold.ttf');
}

@font-face {
    font-family: BenzinMedium;
    src: url('../assets/fonts/Benzin-Medium.ttf');
}

@font-face {
    font-family: bukhari;
    src: url('../assets/fonts/bukhariscript_regular.otf');
}

:root {
    --main-color: #4176FA;
    --dark-grey: #1E1E1E;
    --light-grey: #F2F2F2;
    --web_margin: 20px;
    overflow-x: hidden;
}

h1 {
    font-family: BenzinBold;
    font-size: 2rem;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main-section {
    width: 80%;
}

.text-container {
    background-color: var(--light-grey);
    padding: 15px;
}

.anchors {
    color: var(--main-color);
    margin-top: var(--web_margin);
    font-size: 3rem;
}

/* 
    HEADER
*/
.header-container {
    width: 100%;
}

/* 
    Навигационная панель 
*/
.nagivation-container {
    position: relative;
    color: var(--dark-grey);
    display: grid;
    grid-template-columns: 20% 80%;
    font-family: BenzinMedium;
    font-size: 1rem;
    min-height: 150px;
}

.nagivation-container-list ul {
    position: relative;
    list-style-type: disc;
    height: 100%;
    display: flex;
}

.nagivation-container-list li {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
    ПЕРЕКЛЮЧАТЕЛЬ ТЕМЫ
*/

.switch-container {
    background-color: #1E1E1E;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 25px;
    border-radius: 500px;
}

.switch-container button {
    cursor: pointer;
    border: 0;
    background: var(--light-grey);
    border-radius: 500px;
    position: absolute;
    left: 2px;
    top: 2px;
    height: 21px;
    width: 21px;
}

/* 
    HEADER
*/
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-grey);
    font-family: BenzinBold;
    width: auto;
    height: 50vh;
    background-color: var(--main-color);
}

/* 
    TITLE
*/
.title-container {
    background-color: var(--main-color);
    /* margin: var(--web_margin) 0px; */
    width: 100%;
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: relative;
}

.title-container h1 {
    font-size: 1rem;
}

.title-container img {
    position: absolute;
    width: 25px;
    right: 10px;
    bottom: 10px;
}

/* 
    ABOUT ME 
*/
.about-me-container {
    margin: var(--web_margin) 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-height: 350px;
    gap: 10px;
}

/* 
    LINKS
*/

.links-container {
    margin: var(--web_margin) 0;
    gap: 25px;
    display: grid;
    grid-template-columns: auto auto;
}

.link-item-container {
    display: flex;
    flex-direction: row;
    /* font-size: 1rem; */
    flex: 1;
    border-left: 5px solid var(--main-color);
    margin: var(--web_margin) 0;
    padding: 10px;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.link-item-container p {
    font-size: 1rem;
    font-family: bukhari;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    padding: 0px var(--web_margin);
}

/* 
   SKILLS CONTAINER
*/

.skill-btn{
    position: relative;
    background-color: var(--dark-grey);
    color: var(--light-grey);
    padding: 5px 15px;
    text-align: center;
    font-size: 1rem;    
    border: 0;
    border-radius: 600px;
}
.skill-btn::before{
    content: '+';
    position: absolute;
    rotate: 45deg;
    right: 5px;
}
.skill-items-container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.skill-card{
    width: 300px;
    height: 300px;
}

/* PROJECT CONTAINER */
.project-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

